main {
	background-color: white;
	width: 70%;
	margin: auto;
	border-width: 1px;
	border-color: grey;
	border-style: solid;
	border-radius: 2px;
	display: grid; 
}

header {
	padding-top: 5px;
	padding-bottom: 2px;
}

h1 {
	text-align: center;
	font-family: Antonio;
	font-size: 40px;
}

body {
	background-color: #EEEEEE;
}

nav {
	background-color: #9CFFFF;
	display: grid;
}

.introduction {
	background-color: #DF7EFF;
}

.articles {
	background-color: #3EFFAA;
	display: grid;
	grid-template-columns: 50% 50%;
}

Page {
	background-color: #F8F8F8;
}

footer {
	background-color: #FFA5DC;
}

