main {
	background-color: white;
	width: 60%;
	height: 2000px;
	margin: auto;
	padding: 0;
	border-width: 1px;
	border-color: grey;
	border-style: solid;
	border-radius: 2px;
	display: flex;
	flex-direction: column;
}

header {
	position: relative;
	background-color: #CBF2FF;
	padding: auto;
	height: 120px;
}

h1 {
	font-family: Antonio;
	font-size: 50px;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

body {
	background-color: #EEEEEE;
}

.nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}
/*
li {
	float: left;
}
*/
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-family: Verdana;
	float: left;
}

li a:hover:not(.active) {
  background-color: #595959;
}

.active {
	background-color: #0083d4;
}

article {
	font-family: Verdana;
}

.introduction {
	background-color: #;
	line-height: 1.5;
	margin: 100px 50px;
}

.articles {
	background-color: #8c8c8c;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-gap: 50px;
	padding: 50px;
	height: 500px;
}

.page {
	position: relative;
	background-color: white;
	width: 100%;
	height: 100%;
	box-shadow: -8px 8px lightgrey;
	transition: box-shadow 1s;
}

.page:hover {
	box-shadow: -5px 5px #039eff;
}


img {
	width: 100%;
	height: 80%;
	opacity: 70%;
}

.text-block {
	position: absolute;
	bottom: 0;
	background-color: white;
	width: 100%;
	height: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}

h2 {
	color: black;
	font-family: Helvetica;
	font-size: 200%;
}

footer {
	background-color: #FFA5DC;
}

