html {
	background-image: url(Blue.gif);
    background-color: lightgrey;
}

body {
	background-color: white;
	width: 70%;
	height: auto;
	margin: 5px auto;
	padding: 0;
	border-width: 3px;
	border-color: black;
	border-style: solid;
	border-radius: 3px;
	display: flex;
	flex-direction: column;
    font-family: Verdana, Monospace, sans-serif;
}

main {
    
}

header {
	position: relative;
	padding: auto;
	height: 200px;
    background-image: url(Red.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1 {
	font-family: Bangers, Arial, sans-serif;
    color: white;
	font-size: 70px;
    letter-spacing: 5px;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

nav {
	height: 50px;
}

.nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li {
	float: left;
}

li a {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #595959;
}

.active {
	background-color: #0083d4;
}

#helmet {
	height: 16px;
	width: auto;
}

footer {
	background-color: #4d4d4d;
    color: white;
	padding: 5px 10%;
	font-size: 12px;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

